body {
  font-family: "Helvetica Neue", Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

::selection{
  background: #5a5a5a;
  color: #FFF;
}

.light-accent-text {
  color: #F8410C;
}
.light-main-text {
  color: #5a5a5a;
}
.light-base-text {
  color: #F7F7F7;
}

h1 {
  font-size: 36px;
  color: #F8410C;
  line-height: 48px;
}
h2 {
  font-size: 34px;
  color: #5a5a5a;
  margin: 12px 0;
}
h3 {
  font-size: 30px;
  color: #5a5a5a;
  margin: 8px 0;
}
h4 {
  font-size: 24px;
  color: #5a5a5a;
}

.link {
  cursor:pointer;
  text-decoration: none;
}

.link-nocursor {
  cursor: default;
}
.link-nodecoration {
  text-decoration: none;
}

.tags{
  color: #D5D5D5;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
  line-height: 1.5rem;

}

.tags p, .works-info p{
  margin-right: 0.7em;
  margin-top: 0;
  margin-bottom: 0;
}