body {
  font-family: "Helvetica Neue", Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

::selection{
  background: #5a5a5a;
  color: #FFF;
}

h1 {
  font-size: 42px;
  color: #F8410C;
}
h2 {
  font-size: 34px;
  color: #5a5a5a;
}
h3 {
  font-size: 30px;
  color: #5a5a5a;
}
h4 {
  font-size: 24px;
  color: #5a5a5a;
}

.link {
  cursor:pointer;
  text-decoration: none;
}

.works-info{
  color: #5a5a5a;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  line-height: 1.5rem;
}

.tags{
  color: #D5D5D5;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
  line-height: 1.5rem;

}

.tags p, .works-info p{
  margin-right: 0.7em;
  margin-top: 0;
  margin-bottom: 0;
}